body {
	color: blue;
}

h3 {
	color: red;
	font-family: Roboto, serif;
}

.hide {
	display: none;
}

#main {
	/*float: left;*/
	margin-top: 20px;
	position: relative;
	width: 100%;
	/*border:solid 5px rebeccapurple;*/
}

#main #leftCol {
	float: left;
	height: 100%;
	padding: 10px;
	width: 200px;
	background-color: #eee;
	color: #333;
}

#main #mainBody {
	float: left;
	padding: 10px;
}

#sidedrawer {
	height: 100%;
	background-color: #eee;
	width: 200px;
	color: #fff;
}

.sidedrawerList {
	color: #fff;
}

#codeSample {
	width: 400px;
}

#codeSample h3 {
	cursor: pointer;
	color: rebeccapurple;
	font-family: Roboto, sans-serif;
	font-weight: normal;
}

#codeSample pre {
	color: #888;
}
