/* unused */

.dark-primary-color    { background: #0069c0; }
.default-primary-color { background: #2196f3; }
.light-primary-color   { background: #6ec6ff; }
.dark-accent-color    { background: #79b700; }
.default-accent-color { background: #aeea00; }
.light-accent-color   { background: #e4ff54; }

.text-primary-color    { color: #FFFFFF; }
.primary-text-color    { color: #FFFFFF; }
.secondary-text-color  { color: #333333; }
.divider-color         { border-color: #BDBDBD; }
