
	<div>
		<div class="row marketing">
			<div class="col-sm-3 col-md-3 col-3">
				<bob>ugh</bob>
				<h3>Included Packages</h3>
				<p>Below are a list of included packages:</p>

				<main-component></main-component>

				<ul class="list-group">
					<li class="list-group-item"
							ng-repeat="scotch in mc.scotches">{{scotch.name}}</li>
				</ul>
			</div>
		</div>
	</div>

<bob1 town="boogertown"></bob1>
<bob2 town="apex"></bob2>
<bob3 nbr="3"></bob3>
<bob4 town="deltaville"></bob4>
<bob5 town="eastwood" nbr="5"></bob5>
<bob6 fav="2"></bob6>
<bob7 ftemp="72"></bob7>